body{
    display: flex;
}

.container  {
    border: 2px solid white;
    border-radius: 10px;
    width: 500px;
}

.log-inp    {
    height: 50px;
    width: 300px;
    text-align: center;
}

.log-submit    {

}

.both    {
    margin: 30px;
}